version: "3.8"
volumes:
  php-fpm-socket:
  app-rwdir-1:
  app-rwdir-2:
  web-rwdir-1:
  web-rwdir-2:
  web-rwdir-3:
  db-store:
  mysql-socket:
  db-rwdir-1:
  db-rwdir-2:
  db-rwdir-3:
  db-rwdir-4:
services:
  app:
    build:
      context: .
      dockerfile: ./infra/docker/php/Dockerfile
    image: "${DTUJ_IMAGE_NAME_PREFIX-dtuj}_app"
    volumes:
      - php-fpm-socket:/run/php-fpm
      - ./backend:/work/backend
      - app-rwdir-1:/tmp
      - app-rwdir-2:/composer
      - mysql-socket:/run/mysql
    environment:
      - DB_CONNECTION=mysql
      - DB_DATABASE=${DB_NAME:-laravel_local}
      - DB_USERNAME=${DB_USER:-phper}
      - DB_PASSWORD=${DB_PASS:-secret}
      - LOG_REQUESTS=true
    logging:
      driver: "json-file"
      options:
        max-size: "20m"
        max-file: "5"
        compress: "true"
    read_only: true

  web:
    build:
      context: .
      dockerfile: ./infra/docker/nginx/Dockerfile
    image: "${DTUJ_IMAGE_NAME_PREFIX-dtuj}_web"
    ports:
      - ${CONTAINER_WEB_PORT:-81}:8081
    volumes:
      - php-fpm-socket:/run/php-fpm:ro
      - ./backend:/work/backend:ro
      - web-rwdir-1:/var/cache/nginx
      - web-rwdir-2:/etc/nginx
      - web-rwdir-3:/tmp
    environment:
      - WEB_PORT=8081
    logging:
      driver: "json-file"
      options:
        max-size: "20m"
        max-file: "5"
        compress: "true"
    read_only: true

  db:
    build:
      context: .
      dockerfile: ./infra/docker/mysql/Dockerfile
    image: "${DTUJ_IMAGE_NAME_PREFIX-dtuj}_db"
    volumes:
      - db-store:/var/lib/mysql
      - mysql-socket:/run/mysql-socket
      - db-rwdir-1:/var/log
      - db-rwdir-2:/run
      - db-rwdir-3:/var/lib/mysql-files
      - db-rwdir-4:/tmp
    environment:
      - MYSQL_DATABASE=${DB_NAME:-laravel_local}
      - MYSQL_USER=${DB_USER:-phper}
      - MYSQL_PASSWORD=${DB_PASS:-secret}
      - MYSQL_ROOT_PASSWORD=${DB_ROOT_PASS:-secret}
    logging:
      driver: "json-file"
      options:
        max-size: "20m"
        max-file: "5"
        compress: "true"
    read_only: true
