version: "3.8"
volumes:
  php-fpm-socket:
  db-store:
  web-rwdir-1:
  web-rwdir-2:
  web-rwdir-3:
services:
  app:
    build:
      context: .
      dockerfile: ./infra/docker/php/Dockerfile
    volumes:
      - php-fpm-socket:/var/run/php-fpm
      - ./backend:/work/backend
    environment:
      - DB_CONNECTION=mysql
      - DB_HOST=db
      - DB_PORT=3307
      - DB_DATABASE=${DB_NAME:-laravel_local}
      - DB_USERNAME=${DB_USER:-phper}
      - DB_PASSWORD=${DB_PASS:-secret}

  web:
    build:
      context: .
      dockerfile: ./infra/docker/nginx/Dockerfile
    ports:
      - ${CONTAINER_WEB_PORT:-81}:8081
    volumes:
      - php-fpm-socket:/var/run/php-fpm
      - ./backend:/work/backend:ro
      - web-rwdir-1:/var/cache/nginx
      - web-rwdir-2:/etc/nginx
      - web-rwdir-3:/tmp
    environment:
      - WEB_PORT=8081
    logging:
      driver: "json-file"
      options:
        max-size: "20m"
        max-file: "5"
        compress: "true"
    read_only: false

  db:
    build:
      context: .
      dockerfile: ./infra/docker/mysql/Dockerfile
    ports:
      - ${DB_PORT:-3307}:3307
    volumes:
      - db-store:/var/lib/mysql
    environment:
      - MYSQL_DATABASE=${DB_NAME:-laravel_local}
      - MYSQL_USER=${DB_USER:-phper}
      - MYSQL_PASSWORD=${DB_PASS:-secret}
      - MYSQL_ROOT_PASSWORD=${DB_PASS:-secret}
      - MYSQL_TCP_PORT=3307
