[client]
default-character-set = utf8mb4
socket=/run/mysql-socket/mysql.sock

[mysqld]
user=mysql
character_set_server = utf8mb4
collation_server = utf8mb4_0900_ai_ci
pid-file=/run/mysqld/mysqld.pid
socket=/run/mysql-socket/mysql.sock

# timezone
default-time-zone = SYSTEM
log_timestamps = SYSTEM

# General Log
general_log = 1
general_log_file = /var/log/mysql/general.log

# Error Log
# No settings output error logs to stderr

# Slow Query Log
slow_query_log = 1
slow_query_log_file = /var/log/mysql/slow-query.log
long_query_time = 1.0
log_queries_not_using_indexes = 0

# Binary Log
server_id=1
log-bin=/var/log/mysql/binlog
max_binlog_size=256M
binlog_expire_logs_seconds=604800

[mysql]
default-character-set = utf8mb4
